body{
    margin-top: 20px;
    margin-left: 0px;
    background-color: lightgray;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 200%;
    width: 150%;
    margin: inherit;
    font-size: 1.3rem;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content.editText{
    background-color: whitesmoke;
    width: inherit;
}

/*h5{
    font-size: 0.8rem;
}*/